@font-face {
    font-family:"LiberationSans-Regular";
    src: url("Fonts/LiberationSans-Regular.ttf") format(".ttf");
}

body {
    font-family:"LiberationSans-Regular", sans-serif;
    font-size: 15px;
    color: rgb(85, 85, 85);
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "name name name name name name"
        "bio bio bio bio bio bio"
        "image-1 image-1 image-2 image-2 image-3 image-3"
        "text-1 text-1 text-2 text-2 text-3 text-3"
        "hover-1 hover-1 hover-2 hover-2 hover-3 hover-3"
}   

.name {
    grid-area: name;
    justify-self: center;
}

.name:hover ~ .bio {
    opacity: 1;
    visibility: visible;
}


.name h1 {
    color: rgb(0, 120, 255, 0.6);
    font-size: 2.5rem;
    margin: 0px;
}



.bio {
    grid-area: bio;
    margin-top: -250px;
    margin-left: 0px;
    opacity: 0;
    visibility: hidden;
    justify-self: center; 
    text-align: center;
}


.bio p {
    margin: 247px;
    margin-left: 250px;
}

.image-1 {
    grid-area: image-1;
    width: 75%;
    height: auto;
    margin-top: -240px;
    
}

.image-1 {
    grid-area: image-1;
    position: relative;
}

.image-2 {
    grid-area: image-2;
    width: 75%;
    height: auto;
    margin-top: -240px;
}

.image-3 {
    grid-area: image-3;
    width: 100%;
    height: auto;
     margin-top: -300px;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}


.image-1,
.image-2,
.image-3 {
    justify-self: center;
}


.text-1{
    justify-self: center;
    text-align: center;
    margin-top: -30px;  
    max-width: fit-content;
}
.text-2{
    justify-self: center;
    text-align: center;
    margin-top: -30px;
    max-width: fit-content;
}
.text-3 {
    justify-self: center;
    text-align: center;
    margin-top: -30px;
    max-width: fit-content;
}


.image-1 {
  display: block;
  transition: filter 0.5s ease;
}


.image-1:hover {
  filter:
    drop-shadow(0 0 4px rgba(0, 120, 255, 0.6))
    drop-shadow(0 0 10px rgba(0, 120, 255, 0.4))
    drop-shadow(0 0 20px rgba(0, 120, 255, 0.2))
    drop-shadow(0 0 30px rgba(0, 120, 255, 0.05));
}

.image-2 {
  display: block;
  transition: filter 0.5s ease;
}
.image-2:hover {
  filter:
    drop-shadow(0 0 4px rgba(0, 120, 255, 0.6))
    drop-shadow(0 0 10px rgba(0, 120, 255, 0.4))
    drop-shadow(0 0 20px rgba(0, 120, 255, 0.2))
    drop-shadow(0 0 30px rgba(0, 120, 255, 0.05));
}

.image-3 {
  display: block;
  transition: filter 0.5s ease;
}
.image-3:hover {
  filter:
    drop-shadow(0 0 4px rgba(0, 120, 255, 0.6))
    drop-shadow(0 0 10px rgba(0, 120, 255, 0.4))
    drop-shadow(0 0 20px rgba(0, 120, 255, 0.2))
    drop-shadow(0 0 30px rgba(0, 120, 255, 0.05));
}

.hover-1 {
    grid-area: hover-1;
}

.hover-2 {
    grid-area: hover-2;
}

.hover-3 {
    grid-area: hover-3;
}

.hover-1,
.hover-2,
.hover-3{
    position: relative;
}

.hover-1 img,
.hover-2 img,
.hover-3 img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-1:hover ~ .hover-1 .from-1,
.image-1:hover ~ .hover-2 .from-1,
.image-1:hover ~ .hover-3 .from-1 {
    opacity: 1;
    backdrop-filter: blur(12px);

  transition: opacity 0.3s ease;
}

.image-2:hover ~ .hover-1 .from-2,
.image-2:hover ~ .hover-2 .from-2,
.image-2:hover ~ .hover-3 .from-2 {
    opacity: 1;
}

.image-3:hover ~ .hover-1 .from-3,
.image-3:hover ~ .hover-2 .from-3,
.image-3:hover ~ .hover-3 .from-3 {
    opacity: 1;
}


.hover-3 .from-3 {
    grid-area: hover-3;
    width: 75%;
    height: auto;
    margin-left: 70px;
    margin-top: 50px;
}

.hover-2 .from-3 {
    grid-area: hover-3;
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

.hover-2 .from-2 {
    grid-area: hover-3;
    width: 100%;
    height: auto;
    margin-left: 7px;
    margin-top: 0px;
}

.hover-2 .from-1 {
    grid-area: hover-3;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-top: 0px;
}

