@font-face {
    font-family:"Avara-Bold";
    src: url("Fonts/Avara-Bold.woff2") format("woff2");
}

body {
    font-family:"Avara-Bold", serif;
    font-size: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    padding: 15px 15px 15px 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "name name name bio"
        "image-1 image-1 image-2 image-2"
        "text-1 text-1 text-2 text-2 "
        "image-3 image-3 . ."
        "text-3 text-3 . ." ;
}

.name {
    grid-area: name;
}

.name h1 {
    color: red;
    font-size: 20rem;
    margin: 0px;
}

.name h1:hover {
    color: blue;
    font-weight: bold;

}
.bio {
    grid-area: bio;
}

.bio p {
    color: aqua;
    font-size: 20px;
    margin: 0px;
}

.image-1 {
    grid-area: image-1;
}

.image-2 {
    grid-area: image-2;
}

.image-3 {
    grid-area: image-3;
}

.text-1 {
    grid-area: text-1;
}

.text-2 {
    grid-area: text-2;
}

.text-3 {
    grid-area: text-3;
}


